@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 25px !important;
    font-style: italic !important;
}
.container-flex {
    width: 100%;
    margin: 0 auto; 
    padding: 0 15px;

    @media (min-width: 1601px) {
        max-width: 1300px;
    }

    @media (max-width: 1600px) {
        max-width: 1270px + 15px * 2;
    }

    @media (max-width: 1080px) {
        max-width: 1024px  + 15px * 2;
    }

    @media (max-width: 904px) {
        max-width: 860px  + 15px * 2;
    }

    @media (max-width: 648px) {
        max-width: 600px  + 15px * 2;
    }
}


a {
    text-decoration: none;
    color: black !important;
}

@mixin font-properties 
($font-size, $font-weight) {
    font-size: $font-size;
    font-weight: $font-weight;
}

body {
    font-family: 'Montserrat', sans-serif;
}