@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 25px !important;
  font-style: italic !important;
}

.container-flex {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1601px) {
  .container-flex {
    max-width: 1300px;
  }
}
@media (max-width: 1600px) {
  .container-flex {
    max-width: 1300px;
  }
}
@media (max-width: 1080px) {
  .container-flex {
    max-width: 1054px;
  }
}
@media (max-width: 904px) {
  .container-flex {
    max-width: 890px;
  }
}
@media (max-width: 648px) {
  .container-flex {
    max-width: 630px;
  }
}

a {
  text-decoration: none;
  color: black !important;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 0;
}
.header__img {
  max-width: 100px;
  width: 100%;
}
.header__logo {
  font-size: 15px;
  font-weight: 600;
}
.header .nav-link {
  padding: 4px;
  color: black;
  font-size: 18px;
}
.header .navbar-toggler {
  border: none;
}
.header .navbar-toggler:active, .header .navbar-toggler :hover {
  border: none;
  color: transparent;
}

.btn {
  padding: 2px 1px !important;
}

.modal-title {
  text-align: center;
  padding-left: 40px;
}

.modal-footer {
  justify-content: center !important;
}

.logo {
  display: flex;
  flex-direction: column;
}

.lang {
  border: none;
  background-color: transparent;
  color: grey;
}

.navbar-nav {
  gap: 25px;
}
@media (max-width: 1080px) {
  .navbar-nav {
    gap: 2px;
  }
}
.navbar-nav .dropdown-menu {
  margin-top: 40px;
  margin-left: -100px;
}

.nav-item {
  display: flex;
}

.hover:hover {
  background-color: rgba(255, 255, 255, 0.2549019608);
  border-radius: 15px;
}

nav.navbar.navbar-expand-lg {
  background: linear-gradient(to bottom, #4c627a 0%, #323845 100%);
}

.navbar {
  padding: 20px 0 !important;
}
.navbar__flex {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.navbar__txt-size {
  font-size: 19px !important;
  font-weight: 500 !important;
}

.navbar-brand {
  padding-left: 13px;
}

.navbar-nav {
  padding-left: 30px !important;
}

.nav-link {
  color: white !important;
}

.log {
  text-decoration: underline !important;
  color: #fff280 !important;
}
.log:hover {
  text-decoration: none !important;
  cursor: pointer !important;
}

.main {
  background-color: #ffffff;
}
.main__h1-int {
  padding: 25px 0 15px;
}
@media (max-width: 578px) {
  .main__h1-int {
    font-size: 20px;
  }
}
@media (max-width: 347px) {
  .main__h1-int {
    font-size: 18px !important;
  }
}
.main__link {
  font-size: 22px;
  display: flex;
  justify-content: center;
  color: rgb(47, 47, 47);
}
.main__link:hover {
  color: #717171;
}
@media (max-width: 768px) {
  .main__link {
    font-size: 20px;
  }
}
@media (max-width: 578px) {
  .main__link {
    max-width: 200px;
    font-size: 19px;
    padding-top: 15px;
    text-align: center;
  }
}
.main__txt-int {
  font-size: 18px;
  padding-top: 10px;
  max-width: 915px;
}
@media (max-width: 1325px) {
  .main__txt-int {
    max-width: 640px;
  }
}
@media (max-width: 1060px) {
  .main__txt-int {
    max-width: 450px;
    font-size: 16px !important;
  }
}
@media (max-width: 860px) {
  .main__txt-int {
    padding-top: 7px;
    max-width: 325px;
  }
}
@media (max-width: 686px) {
  .main__txt-int {
    max-width: 400px;
  }
}
.main__img-int {
  max-width: 210px;
  width: 100%;
  box-shadow: 3px 3px 10px black;
  border-radius: 8px;
}
@media (max-width: 686px) {
  .main__img-int {
    max-width: 320px;
  }
}
@media (max-width: 578px) {
  .main__img-int {
    max-width: 260px;
    margin-left: 10px;
  }
}
.main__card-int {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px 0 20px;
}
@media (max-width: 768px) {
  .main__card-int {
    gap: 15px;
    justify-content: start;
  }
}
@media (max-width: 686px) {
  .main__card-int {
    flex-direction: column;
    gap: 25px;
  }
}
.main__txt-article {
  text-indent: 2rem;
  font-size: 18px;
  padding-bottom: 15px;
}
@media (max-width: 578px) {
  .main__txt-article {
    font-size: 16px;
  }
}
.main__map {
  min-height: 300px;
}
.main__btn-group {
  position: fixed;
  bottom: 0;
  z-index: 9997;
  height: 40px;
  width: 100%;
  max-width: 1260px;
  margin-bottom: 10px;
}
.main__add-buttons {
  display: flex;
  justify-content: space-between;
}
.main__btn-add {
  background-color: rgba(211, 201, 109, 0.8039215686) !important;
  padding: 5px 10px !important;
  border: none !important;
  border-radius: 15px !important;
  max-width: 150px !important;
  color: #000 !important;
}
@media (max-width: 505px) {
  .main__btn-add {
    max-width: 120px !important;
    font-size: 14px !important;
    padding: 5px 8px !important;
  }
}
.main__hidden-btn {
  position: absolute;
  top: 0px;
  right: 35px;
  display: flex;
  display: none;
  gap: 50px;
}
@media (max-width: 505px) {
  .main__hidden-btn {
    gap: 15px;
  }
}
@media (max-width: 400px) {
  .main__hidden-btn {
    gap: 10px;
    right: 25px;
  }
}
.main__btn-hid {
  display: none;
}
.main__modal-area {
  width: 460px;
}

.modal-body {
  display: flex;
  justify-content: center !important;
}

.modal-title {
  width: 420px;
  padding-right: 20px;
  font-size: 22px !important;
}
@media (max-width: 360px) {
  .modal-title {
    font-size: 18px !important;
  }
}

.outer {
  padding: 20px 0;
  position: relative;
  background: #f3eeeb;
  margin-left: 20px;
}
@media (max-width: 578px) {
  .outer {
    display: none;
  }
}

.inner {
  position: relative;
  padding: 0px 40px;
  background: #f3eeeb;
  margin: 0 -20px;
}
@media (max-width: 578px) {
  .inner {
    display: none;
  }
}

.read-more {
  padding-left: 6px;
  color: #556075;
  font-style: italic;
  color: #333;
  margin: 0;
}
.read-more:hover {
  color: #717171;
}

.inner::before, .inner::after, .outer::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border: 20px solid #000;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 1;
}

.inner::before {
  bottom: -60px;
  left: -40px;
  clip: rect(auto, auto, 40px, 40px);
  border-color: #f3eeeb;
}

.inner::after {
  bottom: -60px;
  right: -40px;
  clip: rect(auto, 40px, 40px, auto);
  border-color: #f3eeeb;
}

.outer::before {
  top: -40px;
  left: -60px;
  clip: rect(40px, auto, auto, 40px);
  border-color: #f3eeeb;
}

.outer::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border: 20px solid #000;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 50%;
  top: -40px;
  right: -60px;
  clip: rect(40px, 40px, auto, auto);
  border-color: #f3eeeb;
}

p {
  margin-bottom: 0 !important;
}

.img-article {
  float: left;
  padding: 0 25px 5px 0;
  width: 100%;
  max-width: 350px;
}
@media (max-width: 578px) {
  .img-article {
    padding: 0;
  }
}

.hashtag-box {
  display: flex;
  justify-content: end;
}

.hashtag {
  font-weight: bold;
  font-size: 20px;
}
@media (max-width: 980px) {
  .hashtag {
    font-size: 17px;
  }
}
@media (max-width: 450px) {
  .hashtag {
    font-size: 14px;
  }
}

.card-info-none {
  display: none;
}
@media (max-width: 578px) {
  .card-info-none {
    display: block;
    background-color: #f3eeeb;
    border-radius: 20px;
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.footer {
  background: linear-gradient(to bottom, #303541 0%, #495e75 100%);
  padding: 20px 0;
  margin-top: 20px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__box {
  padding: 5px;
}
.footer__box:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.2549019608);
  border-radius: 10px;
  text-decoration: none;
}
.footer__link {
  font-size: 20px;
  font-weight: 600;
  color: white !important;
  text-decoration: none !important;
  font-size: 17px !important;
}