@import "./reset";
@import "./header";

  
  
.main{
    background-color: #ffffff;
    &__h1 {
        padding-top: 25px;
        text-align: center;
        font-size: 30px;
        font-style: italic;
    }
    &__link {
        font-size: 22px;
        font-style: italic;
        display: flex;
        justify-content: center;
        color: rgb(47, 47, 47);
        &:hover {
            color: #717171;
        }
    }
    &__txt {
        font-size: 18px;
        padding-top: 10px;
        max-width: 945px;
    }
    &__img {
        max-width: 210px;
        width: 100%;
        box-shadow: 3px 3px 10px black;
        border-radius: 8px;
    }
    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
        padding: 20px 0 20px;
        
    }
}


.outer {
    display: block;
    padding: 20px 0;
    position: relative;
    background: #f3eeeb;
    margin-left: 20px;
}

.inner {
    position: relative;
    padding: 0px 40px;
    background: #f3eeeb;
}

.main__txt {
    font-size: 18px;
}


.read-more {
    padding-left: 6px;
    color: #556075;
    font-style: italic;
    color: #333;
    margin: 0;
    &:hover {
        color: #717171;
    }
}

.inner {
    margin: 0 -20px;
}

.inner::before, .inner::after, .outer::before {
    content:'';
    position: absolute;
    width: 80px;
    height: 80px;
    border: 20px solid #000;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 1;
}

.inner::before {
    bottom: -60px;
    left: -40px;
    clip: rect(auto, auto, 40px, 40px);
    border-color: #f3eeeb;
}

.inner::after {
    bottom: -60px;
    right: -40px;
    clip: rect(auto, 40px, 40px, auto);
    border-color: #f3eeeb;
}

.outer::before {
    top: -40px;
    left: -60px;
    clip: rect(40px, auto, auto, 40px);
    border-color: #f3eeeb;
}


.outer::after {
    content:'';
    position: absolute;
    width: 80px;
    height: 80px;
    border: 20px solid #000;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 50%;
    top: -40px;
    right: -60px;
    clip: rect(40px, 40px, auto, auto);
    border-color: #f3eeeb;
}


p {
    margin-bottom: 0 !important;
}



@import "./footer";