@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1601px) {
  .container-flex {
    max-width: 1300px;
  }
}
@media (max-width: 1600px) {
  .container-flex {
    max-width: 1300px;
  }
}
@media (max-width: 1080px) {
  .container-flex {
    max-width: 1054px;
  }
}
@media (max-width: 904px) {
  .container-flex {
    max-width: 890px;
  }
}
@media (max-width: 648px) {
  .container-flex {
    max-width: 630px;
  }
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 0;
}
.header__img {
  max-width: 100px;
  width: 100%;
}
.header__logo {
  font-size: 15px;
  font-weight: 600;
}
.header .nav-link {
  padding: 4px;
  color: black;
  font-size: 18px;
}
.header .navbar-toggler {
  border: none;
}
.header .navbar-toggler:active, .header .navbar-toggler :hover {
  border: none;
  color: transparent;
}

.btn {
  padding: 2px 1px !important;
}

.modal-title {
  text-align: center;
  padding-left: 40px;
}

.modal-footer {
  justify-content: center !important;
}

.logo {
  display: flex;
  flex-direction: column;
}

.lang {
  border: none;
  background-color: transparent;
  color: grey;
}

.navbar-nav {
  gap: 25px;
}
@media (max-width: 1080px) {
  .navbar-nav {
    gap: 2px;
  }
}
.navbar-nav .dropdown-menu {
  margin-top: 40px;
  margin-left: -100px;
}

.nav-item {
  display: flex;
}

.hover:hover {
  background-color: rgba(255, 255, 255, 0.2549019608);
  border-radius: 15px;
}

nav.navbar.navbar-expand-lg {
  background: linear-gradient(to bottom, #4c627a 0%, #323845 100%);
}

.navbar {
  padding: 20px 0 !important;
}
.navbar__flex {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.navbar__txt-size {
  font-size: 19px !important;
  font-weight: 500 !important;
}

.navbar-brand {
  padding-left: 13px;
}

.navbar-nav {
  padding-left: 30px !important;
}

.nav-link {
  color: white !important;
}

.log {
  text-decoration: underline !important;
  color: #fff280 !important;
}
.log:hover {
  text-decoration: none !important;
  cursor: pointer !important;
}

.main {
  background-color: #ffffff;
}
.main__h1 {
  padding-top: 25px;
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
.main__link {
  font-size: 22px;
  font-style: italic;
  display: flex;
  justify-content: center;
  color: rgb(47, 47, 47);
}
.main__link:hover {
  color: #717171;
}
.main__txt {
  font-size: 18px;
  padding-top: 10px;
  max-width: 945px;
}
.main__img {
  max-width: 210px;
  width: 100%;
  box-shadow: 3px 3px 10px black;
  border-radius: 8px;
}
.main__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding: 20px 0 20px;
}

.outer {
  display: block;
  padding: 20px 0;
  position: relative;
  background: #f3eeeb;
  margin-left: 20px;
}

.inner {
  position: relative;
  padding: 0px 40px;
  background: #f3eeeb;
}

.main__txt {
  font-size: 18px;
}

.read-more {
  padding-left: 6px;
  color: #556075;
  font-style: italic;
  color: #333;
  margin: 0;
}
.read-more:hover {
  color: #717171;
}

.inner {
  margin: 0 -20px;
}

.inner::before, .inner::after, .outer::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border: 20px solid #000;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: 1;
}

.inner::before {
  bottom: -60px;
  left: -40px;
  clip: rect(auto, auto, 40px, 40px);
  border-color: #f3eeeb;
}

.inner::after {
  bottom: -60px;
  right: -40px;
  clip: rect(auto, 40px, 40px, auto);
  border-color: #f3eeeb;
}

.outer::before {
  top: -40px;
  left: -60px;
  clip: rect(40px, auto, auto, 40px);
  border-color: #f3eeeb;
}

.outer::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  border: 20px solid #000;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 50%;
  top: -40px;
  right: -60px;
  clip: rect(40px, 40px, auto, auto);
  border-color: #f3eeeb;
}

p {
  margin-bottom: 0 !important;
}

.footer {
  background: linear-gradient(to bottom, #303541 0%, #495e75 100%);
  padding: 20px 0;
  margin-top: 20px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__box {
  padding: 5px;
}
.footer__box:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.2549019608);
  border-radius: 10px;
  text-decoration: none;
}
.footer__link {
  font-size: 20px;
  font-weight: 600;
  color: white !important;
  text-decoration: none !important;
  font-size: 17px !important;
}