@import "./reset";
@import "./header";


  
.main{
    background-color: #ffffff;
    &__h1 {
        padding: 25px 0 15px;
        text-align: center;
        font-size: 25px;
        font-style: italic;
        @media (max-width: 578px) {
            font-size: 20px;
        }
    }
    &__link {
        font-size: 22px;
        font-style: italic;
        display: flex;
        justify-content: center;
        color: rgb(47, 47, 47);
        &:hover {
            color: #717171;
        }
        @media (max-width: 1060px) {
            max-width: 300px;
            text-align: center;
        }
        @media (max-width: 768px) {
            font-size: 20px;
        }
        @media (max-width:578px) {
            max-width: 200px;
            font-size: 18px;
        }
        
    }
    &__txt {
        font-size: 18px;
        padding-top: 10px;
        max-width: 915px;
        @media (max-width: 1325px) {
            max-width: 640px;
        }
        @media (max-width: 1060px) {
            max-width: 450px;
            font-size: 16px !important;
        }
        @media (max-width: 860px) {
            padding-top: 7px;
            max-width: 325px;
        }
        @media (max-width:686px) {
            max-width: 400px;
        }
        @media (max-width: 578px) {
            max-width: 205px;
            font-size: 14px !important;
            padding-bottom: 10px;
        }
    }
    &__img {
        max-width: 210px;
        width: 100%;
        box-shadow: 3px 3px 10px black;
        border-radius: 8px;
        @media (max-width:686px) {
            max-width: 320px;
        }
        @media (max-width:578px) {
            max-width: 260px;
            margin-left: 10px;
        }
    }
    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;
        padding: 20px 0 20px;
        @media (max-width: 768px) {
            gap: 15px;
            justify-content: start;
        }
        @media (max-width: 686px) {
            flex-direction: column;
            gap: 25px;
        }
    }


    &__txt-article {
        text-indent: 2rem;
        font-size: 18px;
        padding-bottom: 15px;
        @media (max-width: 578px) {
            font-size: 16px;
        }
    }

    &__map {
        min-height: 300px;
    }

    &__add-buttons {
        display: flex;
        justify-content: space-between;
    }

    &__btn-add {
        background-color: #d3c96dcd;
        padding: 5px 10px;
        border: 1px solid black;
        border-radius: 15px;
    }
}

.outer {
    display: block;
    padding: 20px 0;
    position: relative;
    background: #f3eeeb;
    margin-left: 20px;
}

.inner {
    position: relative;
    padding: 0px 40px;
    background: #f3eeeb;
    @media (max-width: 578px) {
        padding: 0 20px;
    }
}

.read-more {
    padding-left: 6px;
    color: #556075;
    font-style: italic;
    color: #333;
    margin: 0;
    &:hover {
        color: #717171;
    }
}

.inner {
    margin: 0 -20px;
}

.inner::before, .inner::after, .outer::before {
    content:'';
    position: absolute;
    width: 80px;
    height: 80px;
    border: 20px solid #000;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 1;
}

.inner::before {
    bottom: -60px;
    left: -40px;
    clip: rect(auto, auto, 40px, 40px);
    border-color: #f3eeeb;
}

.inner::after {
    bottom: -60px;
    right: -40px;
    clip: rect(auto, 40px, 40px, auto);
    border-color: #f3eeeb;
}

.outer::before {
    top: -40px;
    left: -60px;
    clip: rect(40px, auto, auto, 40px);
    border-color: #f3eeeb;
}


.outer::after {
    content:'';
    position: absolute;
    width: 80px;
    height: 80px;
    border: 20px solid #000;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 50%;
    top: -40px;
    right: -60px;
    clip: rect(40px, 40px, auto, auto);
    border-color: #f3eeeb;
}


p {
    margin-bottom: 0 !important;
}

.img-article {
    float: left;
    padding: 0 25px 5px 0;
    width: 100%;
    max-width: 350px;
    @media (max-width: 578px) {
        padding: 0;
    }
}

.hashtag-box {
    display: flex;
    justify-content: end;
}

.hashtag {
    font-weight: bold;
    font-size: 20px;
    @media (max-width: 980px) {
      font-size: 17px;
    }
    @media (max-width: 450px) {
      font-size: 14px;
    }
  }


@import "./footer";