@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 25px !important;
  font-style: italic !important;
}

.container-flex {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1601px) {
  .container-flex {
    max-width: 1300px;
  }
}
@media (max-width: 1600px) {
  .container-flex {
    max-width: 1300px;
  }
}
@media (max-width: 1080px) {
  .container-flex {
    max-width: 1054px;
  }
}
@media (max-width: 904px) {
  .container-flex {
    max-width: 890px;
  }
}
@media (max-width: 648px) {
  .container-flex {
    max-width: 630px;
  }
}

a {
  text-decoration: none;
  color: black !important;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 0;
}
.header__img {
  max-width: 100px;
  width: 100%;
}
.header__logo {
  font-size: 15px;
  font-weight: 600;
}
.header .nav-link {
  padding: 4px;
  color: black;
  font-size: 18px;
}
.header .navbar-toggler {
  border: none;
}
.header .navbar-toggler:active, .header .navbar-toggler :hover {
  border: none;
  color: transparent;
}

.btn {
  padding: 2px 1px !important;
}

.modal-title {
  text-align: center;
  padding-left: 40px;
}

.modal-footer {
  justify-content: center !important;
}

.logo {
  display: flex;
  flex-direction: column;
}

.lang {
  border: none;
  background-color: transparent;
  color: grey;
}

.navbar-nav {
  gap: 25px;
}
@media (max-width: 1080px) {
  .navbar-nav {
    gap: 2px;
  }
}
.navbar-nav .dropdown-menu {
  margin-top: 40px;
  margin-left: -100px;
}

.nav-item {
  display: flex;
}

.hover:hover {
  background-color: rgba(255, 255, 255, 0.2549019608);
  border-radius: 15px;
}

nav.navbar.navbar-expand-lg {
  background: linear-gradient(to bottom, #4c627a 0%, #323845 100%);
}

.navbar {
  padding: 20px 0 !important;
}
.navbar__flex {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.navbar__txt-size {
  font-size: 19px !important;
  font-weight: 500 !important;
}

.navbar-brand {
  padding-left: 13px;
}

.navbar-nav {
  padding-left: 30px !important;
}

.nav-link {
  color: white !important;
}

.log {
  text-decoration: underline !important;
  color: #fff280 !important;
}
.log:hover {
  text-decoration: none !important;
  cursor: pointer !important;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.page-wrap {
  min-height: 100vh;
  background-image: url(https://i.pinimg.com/originals/70/66/5d/70665db19777e385cf30a6782b5db629.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  padding: 30px 0;
  width: 100%;
}
.main__box {
  background-color: rgba(50, 52, 75, 0.6823529412);
  border-radius: 15px;
  color: white;
  padding: 10px 25px;
}
.main__h1 {
  font-size: 30px !important;
}
.main__txt {
  text-indent: 1rem;
  font-size: 19px;
}
@media (max-width: 420px) {
  .main__txt {
    font-size: 16px;
  }
}
.main__card-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}
.main__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 49%;
  cursor: pointer;
}
.main__card:hover {
  background-color: rgba(255, 255, 255, 0.2549019608);
  border-radius: 10px;
}
@media (max-width: 768px) {
  .main__card {
    width: 100%;
    justify-content: space-around;
  }
}
.main__h2 {
  font-size: 25px;
  font-style: italic;
}
@media (max-width: 1035px) {
  .main__h2 {
    font-size: 20px;
  }
}
@media (max-width: 860px) {
  .main__h2 {
    font-size: 20px;
    width: 310px;
  }
}
@media (max-width: 768px) {
  .main__h2 {
    font-size: 25px;
  }
}
@media (max-width: 530px) {
  .main__h2 {
    font-size: 21px;
  }
}
@media (max-width: 420px) {
  .main__none {
    display: none;
  }
}
.main__h2-none {
  font-style: italic;
  display: none;
}
@media (max-width: 420px) {
  .main__h2-none {
    display: block;
    font-size: 21px;
  }
}
.main__img {
  max-width: 144px;
}
@media (max-width: 860px) {
  .main__img {
    max-width: 100px;
  }
}
.main__img-3 {
  max-width: 100px;
  margin: 20px;
}
@media (max-width: 860px) {
  .main__img-3 {
    max-width: 60px;
  }
}

.hashtag-box {
  display: flex;
  justify-content: end;
}

.hashtag {
  font-weight: bold;
  font-size: 20px;
}
@media (max-width: 980px) {
  .hashtag {
    font-size: 17px;
  }
}
@media (max-width: 450px) {
  .hashtag {
    font-size: 14px;
  }
}

.footer {
  background: linear-gradient(to bottom, #303541 0%, #495e75 100%);
  padding: 20px 0;
  margin-top: 20px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__box {
  padding: 5px;
}
.footer__box:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.2549019608);
  border-radius: 10px;
  text-decoration: none;
}
.footer__link {
  font-size: 20px;
  font-weight: 600;
  color: white !important;
  text-decoration: none !important;
  font-size: 17px !important;
}